@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient-background {
  background: linear-gradient(
    270deg,
    rgba(139, 139, 139, 0.508),
    #525252,
    rgba(137, 137, 137, 0.508)
  );
  background-size: 180% 180%;
  animation: gradient-animation 1.5s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
